<mat-toolbar>

  <!-- logo -->
  <div class="d-flex flex-row justify-content-between align-items-center">
    @if (!themeService.isThemeLight()) {
    <img src="logo.png" alt="" class="logo">
    }
    @else {
    <img src="logo.png" alt="" class="logo">
    }

    <!-- title -->
     <span class="h2">{{titleChangerService.title()}}</span>

    <!-- toggle for temp unit change -->
    <div class="d-flex flex-row justify-content-between align-items-center">
      <!-- toggle for theme change -->
      <button mat-icon-button (click)="toggleTheme()">
        @if (themeService.isThemeLight()) {
        <mat-icon>dark_mode</mat-icon>
        }
        @else {
        <mat-icon>light_mode</mat-icon>
        }
      </button>

      <button mat-icon-button (click)="logout()" *ngIf="tokenService.isLoggedIn()">
        @if (themeService.isThemeLight()) {
        <mat-icon>logout</mat-icon>
        }
        @else {
        <mat-icon>logout</mat-icon>
        }
      </button>
    </div>
  </div>

</mat-toolbar>
