<section>
  <div class="container mt-2">
    <mat-card appearance="outlined">
      <mat-card-content class="d-flex flex-column align-items-center  justify-content-center">

        <header class="h1 text-center">Welcome to, 'Demo Company Name'</header>

        <form #loginForm="ngForm">
          <div class="field mb-2">
            <span class="material-icons">&#xe0be;</span>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput name="username" id="username" [(ngModel)]="logData.username"
                placeholder="Email ID/Username">
            </mat-form-field>
          </div>

          <div class="field mb-2">
            <span class="material-icons">&#xe897;</span>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="inputType" name="password" id="password" [(ngModel)]="logData.password"
                placeholder="Password">
            </mat-form-field>

            <button mat-icon-button type="button" (click)="passwordToggler()">
              <span class="material-icons" *ngIf="isNotPassword">&#xe8f4;</span>
              <span class="material-icons" *ngIf="!isNotPassword">&#xe8f5;</span>
            </button>
          </div>

          <button mat-raised-button type="button" class="mb-2  toggler" (click)="logIn()" [disabled]="loginForm.invalid">Log
            In</button>
        </form>

        <div class="field mb-2 text-center">
          <p>Username: demo</p>
          <p>Password: demo</p>
          <p>Note: The Backend API URL might experience some delays since it is hosted on the free tier.
          </p>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</section>
